<mat-toolbar>
  <img src="../assets/logo 2.png" alt="logo" class="logo">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav mode="over" #sidenav position="end">
    <mat-list>
        <a class="links" routerLink="/">
          <mat-list-item>
            <mat-icon>home</mat-icon>
            <div class="mat-subheading-2 subheading">Home</div>
          </mat-list-item>
        </a>
        <a class="links"
        (click)="toAuthPage()">
          <mat-list-item>
            <mat-icon>login</mat-icon>
            <div class="mat-subheading-2 subheading">{{!isAuthenticated? 'Signup or Login': 'Logout'}}</div>
         </mat-list-item>
        </a>
        <a class="links"
        (click)="toLikesPage()">
          <mat-list-item>
            <mat-icon>favorite</mat-icon>
            <div class="mat-subheading-2 subheading">Like Page</div>
          </mat-list-item>
        </a>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>



